torch
torchvision
torchaudio
transformers>=4.38
accelerate
sentencepiece
safetensors
huggingface_hub
datasets
trl
peft
wandb
bitsandbytes
scikit-learn
bert-score
evaluate
matplotlib
absl-py
nltk
rouge-score
sacrebleu
